<div id="{{headerLogoId}}" class="{{headerLogoClass}}"><a href="{{site.url}}">
    <img src="{{theme.link}}/assets/img/6666@2x.png" 
        alt="Logo 72hours" 
        srcset="{{theme.link}}/assets/img/6666@2x.png 2x, {{theme.link}}/assets/img/6666.png 1x"></a>
</div>