<footer class="site-footer">
    <div class="wrapper wrapper--large wrapper--footer">
        <ul class="site-footer__menu-items">
        {% for item in footer_menu.items %}
            <li class="site-footer__menu-item {{item.current ? 'is-current-menu-item' : ''}}"><a href="{{item.link}}">{{item.title}}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="wrapper">
        <ul class="site-footer__bottom-links">
            {% if privacy_url %}
            <li class="site-footer__bottom-link"><a href="{{privacy_url}}">{{privacy_title}}</a></li>
            {% endif %}
            {% if user %}
            <li class="site-footer__bottom-link"><a href="{{site.url}}/edit-profile">My account</a> | <a href="{{fn('wp_logout_url', site.url)}}">Log-out</a></li>
            {% else %}
            <li class="site-footer__bottom-link"><a href="{{site.url}}/log-in">Sign-in</a> | <a href="{{site.url}}/register">Sign-up</a></li>
            {% endif %}
            <li class="site-footer__bottom-link"><a href="{{site.url}}/about">About</a></li>
        </ul>
    </div>
</footer>
