{% extends "base.twig" %}

{% block header %}

<header id="site-header" class="header wrapper wrapper--hero" data-menu='scroll'>
	<div class="header__bg"></div>

	{{ include('_header-logo.twig', {headerLogoClass : 'header__logo header__logo--hide-on-xxl header__logo--hide', headerLogoId : 'header-logo-front-page'})}}

	<div class="menu-desktop__container">
		<ul class="menu-desktop menu-desktop--left">
			{% include "menus/menu-left.twig" %}
		</ul>
		<ul class="menu-desktop menu-desktop--top">
			{% include "menus/menu-top.twig" %}
		</ul>
		{% if social_links %}
			<ul class="menu-desktop menu-desktop--social has-reverse-colors">
				{% include "menus/menu-social.twig" %}
			</ul>
		{% endif %}
		<ul class="menu-desktop menu-desktop--right">
			{% include "menus/menu-right.twig" %}
		</ul>
	</div>
	<div class="hero hero--bg">
		<picture class="hero__bg">
			<source data-srcset="{{theme.link}}/assets/img/alexandre-debieve-1115827-unsplash.jpg 1x,
							{{theme.link}}/assets/img/alexandre-debieve-1115827-unsplash@2x.jpg 2x"
					media="(min-width: 376px)">
			<img 	data-src="{{theme.link}}/assets/img/Background.jpg" 
					data-srcset="{{theme.link}}/assets/img/Background.jpg 1x, 
							{{theme.link}}/assets/img/Background@2x.jpg 2x" 
					alt="" class="lazyload" >
		</picture>
	</div>
	<div class="menu-desktop__container menu-desktop__container--hide-on-scroll">
		<ul class="menu-desktop menu-desktop--left">
			{% include "menus/menu-left.twig" %}
		</ul>
		<ul class="menu-desktop menu-desktop--top">
			{% include "menus/menu-top.twig" %}
		</ul>
		{% if social_links %}
			<ul class="menu-desktop menu-desktop--social">
				{% include "menus/menu-social.twig" %}
			</ul>
		{% endif %}
		<ul class="menu-desktop menu-desktop--right">
			{% include "menus/menu-right.twig" %}
		</ul>
	</div>
		<div class="hero hero--content">
			<div class="hero__brand-logo">
			<picture>
				<source data-srcset="{{theme.link}}/assets/img/logo_72hours_web.png"
						media="(min-width: 600px)" >
				<img data-src="{{theme.link}}/assets/img/logo_72hours_mobile.png" alt="Logo 72hours" class="lazyload">
			</picture>
			</div>
		</div>
	<div aria-hidden="true" id="menu-mobile" class="menu-mobile__container">

		{{ include('_header-logo.twig', {headerLogoClass : 'header__logo header__logo--menu-mobile'})}}

		<ul class="menu-mobile">
			{% include "menus/menu-left.twig" %}
		</ul>
		<ul class="menu-mobile">
			{% include "menus/menu-top.twig" %}
		</ul>
		<ul class="menu-mobile">
			{% include "menus/menu-right.twig" %}
		</ul>
		{% if social_links %}
			<ul class="menu-mobile menu-mobile--social has-reverse-colors">
				{% include "menus/menu-social.twig" %}
			</ul>
		{% endif %}
	</div>
	<div aria-hidden="true" id="menu-mobile-trigger" class="menu-burger">
		<div></div>
	</div>
</header>

{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
	<div class="wrapper wrapper--large">
		<div class="front-page">
			<div class="front-page__cards">
				{% for item in post.meta('home_page_content') %}
					{% set media = Image(item.media) %}
					<section class="front-page__card">
						<div class="front-page__card-content {{ item.has_call_to_action ? '' : 'front-page__card-content--no-btn' }}">
							<span class="headline headline--decoration">0{{loop.index}}</span>
							<h2 class="headline headline--upper">{{item.title}}</h2>
							<h3 class="headline headline--small">{{item.sub_title}}</h3>
							<div class="generic-content">
								{{item.content}}
							</div>
						</div>
						<div class="front-page__card-img">
							<img data-src="{{media.src|towebp}}" alt="{{media.alt}}" data-srcset="{{media.srcset}}" data-sizes="{{media.img_sizes}}" class="lazyload">
						</div>
						{% if item.has_call_to_action %}
							{% set btn = item.call_to_action %}
							<div class="front-page__card-btn">
								<a role="button" href="#" class="btn {{btn.style}}">{{btn.title}}</a>
							</div>
						{% endif %}
					</section>
				{% endfor %}
			</div>
		</div>
	</div>

	<div id="contact" class="wrapper has-mb-3">
		<h2 class="headline headline--upper">Contact</h2>
	</div>
	<div class="wrapper wrapper--user-form">
		{% filter shortcodes %}
			[contact-form-7 id="210" title="Formulaire de contact sans champ nom" html_class="form form--contact"]
		{% endfilter %}
	</div>
{% endblock %}


