{% extends "base.twig" %}

{% block content %}
	<div class="wrapper">
		<div class="single">
			{% if post.thumbnail %}
				{% set img = post.thumbnail %}
				<div class="single__thumbnail">
					<img src="{{img.src}}" alt="{{img.alt}}" srcset="{{img.srcset}}" sizes="{{img.img_sizes}}">
				</div>
			{% endif %}

		</div>
		<div class="single__entry">
			<h1 class="headline headline--medium">{{post.title}}</h1>
			<p class="single__date">Publié le
				{{post.post_date|date('j/m/Y')}}</p>
		</div>
		<div class="generic-content">
			{{post.content}}
		</div>

		{% if post.comment_status == 'open' %}
			<div class="wrapper wrapper--narrow">
				{% if post.comments %}

					{% if post.comment_count %}
						<div class="generic-content">
							<p>Commentaire{{ post.comment_count > 1 ? 's' }}
								(
								{{post.comment_count}}
								)</p>
						</div>
					{% endif %}
					<div class="comments">
						{% for comment in post.comments %}
							{% if comment.comment_approved %}
								<div class="comment">
									<div class="comment__avatar">
										<img src="{{comment.avatar(128)}}" alt="">
									</div>
									<div class="comment__entry">
										<p class="comment__entry-info">{{comment.author.name}}<span class="comment__entry-info--blue">
												a écrit le
												{{comment.date|date('j/m/Y')}}</span>
										</p>
										<div class="generic-content">
											{{comment.content}}
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}

						{% if user %}
							{% include "comment-user-form.twig" %}
						{% endif %}

					</div>
				{% endif %}

				{% if not user %}
					<p class="headline headline--small">Laisser un commentaire</p>
					{% include "comment-form.twig" %}
				{% endif %}

			</div>
		{% endif %}
	</div>
{% endblock %}
